
p, form input[type='text']:focus, form input[type='email']:focus, form input[type='password']:focus, form input[type='submit']:focus, form input[type='submit'] {
    color: #fff;
}

form input[type='text'], form input[type='email'], form input[type='password'], form input[type='submit'] { 
    color: rgba(255,255,255,0.8); 
}

form input[type='submit'] {
    border-color: #fff;
}

header > nav > a {
    color: #fff; 
}

