* { background-repeat: no-repeat; font-weight: normal; padding: 0; margin: 0; font-family: 'Oxygen', sans-serif; -webkit-apperance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body { color: #fff; height: 100%; width: 100%; opacity: 1; overflow-x: hidden; }
HTML { height: 100%; width: 100%; background-color: rgb(20,20,20); }

/*--- MAIN COLOR ---*/

.ph_button:hover:after, .ph_head_deposited:after , .ph_progress_dots > span.active, header .ph_profile:after, header .ph_logo_wrapper:after, header nav > a:after, .ph_login_center:after {
    background-color: rgb(255, 210, 0);
}

header nav > a:hover, a, h1,h2,h3,h4,h5,h6 {
    color: rgb(255, 210, 0);
}

.ph_button:hover:after {
    border-color: rgb(255, 210, 0) !important;
}

/*-- REUSE -- */

header .ph_menu_point, .ph_login_center:after {
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

header .ph_logo_wrapper, header .ph_mham  {
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.25));
}

.ph_login_meta a {
    text-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.ph_button:after {
    transform: skewX(-10deg);
}

form .ph_sub_wrapper:after {
    z-index: -2; content: ''; position: absolute; display: block;left: 0; top: 0; width: 100%; height: 100%; transform: skewX(-10deg); background-color: rgb(255,210,0);
}

/*-- TRANSITIONS --*/

.ph_post > .ph_post_info > .voting > .actions, .ph_button_v2.multi > .sect, .ph_fs_button span, .ph_form_error:before, .ph_form_info:before, .ph_form_error, .ph_form_info , .ph_menu_container .ph_menu_inner nav a > span, .ph_menu_container .ph_menu_inner nav a > span:after, header .ph_mham > span, form .ph_sub_wrapper:after, .ph_button:after, .ph_button, form input, form input[type='checkbox']:after, header nav > a:after {
    transition: all 250ms cubic-bezier(.4,0,.6,1);
}

header .ph_menur, .ph_page_loader:after, .ph_page_loader, .ph_menu_container:after , .ph_menu_container nav, .ph_menu_container, header .ph_profile, .ph_logo_wrapper, .ph_text, .ph_bg_image, .ph_login_bg, .ph_separator_half, .ph_login_meta, .ph_login_center, section, header nav {
    transition: all 300ms cubic-bezier(.4,0,.6,1);
}

/*-- ELEMENT STYLE --*/

::selection{ background-color: #ffd200; color: rgb(10,10,10); }
::-moz-selection{ background-color: rgb(255, 210, 0); color: rgb(10,10,10); }

h1,h2,h3,h4,h5,h6{ /*font-family: 'Aldrich', sans-serif;*/ font-weight: bold; text-decoration: none; margin: 30px 0 10px 0; text-align: inherit; }
h1 { font-size: 80px; line-height: 75px; }
h2 { font-size: 60px; line-height: 55px; }
h3 { font-size: 30px; line-height: 40px; font-family: 'Oxygen', sans-serif; color: #fff; }
h4 { font-size: 25px; line-height: 35px; font-family: 'Oxygen', sans-serif; color: #fff;}

.ph_head_deposited { padding: 10px 100px; margin-left: 15px; color: rgb(10,10,10); display: inline-block; position: relative; font-size: 150px; line-height: 160px;}
.ph_head_deposited:after { content: ''; transform: skewX(-10deg); z-index: -1; position: absolute; left: 0; top: 0; height: 100%; width: 100%; }

a{ text-decoration: none; font-weight: bold; transition: all 0.2s; -webkit-transition: all 0.2s; -o-transition: all 0.2s; -moz-transition: all 0.2s; }
p { color: rgb(180,180,180); font-size: 16px; font-weight: 400; }

header { transition-delay: 300ms; z-index: 100; white-space: nowrap; position: fixed; display: block; top: 0; left: 0; height: 80px; width: 100%; padding: 20px 20px 0 20px; }
header .ph_inner { position: relative; width: 100%; height: 100%; margin: 0 auto; max-width: 1040px; }
header nav { z-index: -1; vertical-align: top; position: relative; display: inline-block; height: 100%; width: auto; max-width: 100%; }
.ph_loading header nav { transform: translateX(-50%); opacity: 0; }
header nav > a, header .ph_logo_wrapper, header .ph_profile { color: #fff; position: relative; display: inline-block; height: 100%; white-space: nowrap; line-height: 60px; font-weight: bold; padding: 0 20px;  }
header nav > a { padding: 0 30px 0 40px; }
header nav > a:after { z-index: -1; position: absolute; content: ''; bottom: 0; left: 0; transform-origin: bottom; transform: translate(10px,-100%) skewX(-10deg); width: 100%; height: 100%; }
header nav > a:hover { color: #fff; }
header nav > a:hover:after { transform: translate(0,0) skewX(-10deg);  }

header .ph_menur { position: absolute; top: 0; right: 0; z-index: +5; height: 100%; line-height: 60px; }
header.login-menu .ph_menur { display: none; }

header .ph_menu_point { color: rgb(10,10,10); line-height: 44px; text-align: center; border-radius: 50%; background-color: rgb(255,210,0); overflow:hidden; position: relative; display: inline-block; vertical-align: top; width: 44px; height: 44px; margin: 10px 10px 10px 0; background-size: cover; background-position: center; }
header .ph_menu_point img { z-index: +1; width: 120%; object-fit: cover; height: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }

header .ph_logo_wrapper, .mobile_header .ph_logo_wrapper { padding: 8px 0; display: inline-block; vertical-align: top; position: relative; height: 100%; }
header .ph_logo_wrapper img, .mobile_header .ph_logo_wrapper img { position: relative; display: block; height: 100%;  }

header.transparent-menu { background-color: transparent; }
header.transparent-menu:after { display: none; }

.mobile_header { display: none; padding: 5px 20px; border-bottom: 1px solid rgb(35,35,35); z-index: 102; position: fixed; top: 0; left: 0; width: 100%; height: 50px; background-color: rgb(20,20,20); }
.mobile_header .ph_logo_wrapper { top: 0; padding: 10px 0; position: absolute; left: 50%; transform: translateX(-50%); }

.ph_page_loader { -webkit-backface-visibility: hidden; visibility: hidden; transition-duration: 0; position: fixed; top: 0; right: 0; width: 100%; transform: translateX(100%); height: 100%; z-index: 200; background-color: rgb(20,20,20); background-image: url(/img/icons/logo.svg); background-size: 100px;  background-position: center; background-repeat: no-repeat; }
.ph_page_loader:after { -webkit-backface-visibility: hidden; content: ''; position: absolute; display: block; width: 0; height: 100%; position: absolute; right: 100%; top: 0; background-color: rgb(255,210,0); }
.ph_loading .ph_page_loader { visibility: visible; transition-delay: 550ms; transform: translateX(0); }
.ph_loading .ph_page_loader:after { transition-delay: 350ms; width: 100%; }
.ph_page_init .ph_page_loader { visibility: hidden; transform: translateX(-100%); transition-delay: 0ms !important; }
.ph_page_init .ph_page_loader:after { right: unset; left: 100%; transition-delay: 350ms; width: 0; }
.ph_loading.ph_page_init .ph_page_loader { visibility: visible;  transition-delay: 0;  transition-duration: 0 !important; transform: translateX(0); }
.ph_loading.ph_page_init .ph_page_loader:after { right: unset; left: 100%; transition-delay: 0; transition-duration: 0 !important; width: 100%; }

form { color: rgb(200,200,200); display: block; position: relative; margin-bottom: 20px;}
input::-webkit-input-placeholder { color: inherit; }
form textarea, form input[type='file'], form input[type='text'], form input[type='email'], form input[type='password'], form input[type='submit'] { border-radius: 2px; outline: none; color: #fff; margin: 20px 0 0 -20px; background-color: rgba(0,0,0,0.25); font-size: 16px; line-height: 25px; width: calc(100% + 40px); padding: 15px 18px 15px 20px; outline: 0; border: 0; border-right: 2px solid transparent; -webkit-apperance: none; display: block; position: relative;}
form textarea:focus, form input[type='text']:focus, form input[type='email']:focus, form input[type='password']:focus { color: #fff; }
form input:invalid { box-shadow: none; outline: 0; }
form textarea:not(:placeholder-shown), form input[type='text']:not(:placeholder-shown), form input[type='email']:not(:placeholder-shown), form input[type='password']:not(:placeholder-shown) { color: #fff; }
form textarea.invalid, form input[type='text'].invalid, form input[type='email'].invalid, form input[type='password'].invalid, form textarea:not(:placeholder-shown):invalid, form input[type='text']:not(:placeholder-shown):invalid, form input[type='email']:not(:placeholder-shown):invalid, form input[type='password']:not(:placeholder-shown):invalid { outline: 0; border: none; border-right: 2px solid rgb(255, 53, 27); }

form textarea { resize: vertical; min-height: 150px; max-height: 400px; min-width: calc(100% + 40px); max-width:  0; }

form .ph_form_input_submit { position: relative; display: block; width: 100%; height: auto; }
form .ph_fi_submit, form .ph_inline_submit { border-radius: 50%; text-align: center; cursor: pointer; position: absolute; display: block; line-height: 35px; color: rgb(10,10,10); height: 31px; width: 31px; background-color: rgb(255,210,0); right: 0; top: 50%; transform: translateY(-50%); }

form .ph_inline_submit { margin-top: 20px; cursor: pointer; position: relative; padding: 0 20px; height: 40px; width: unset; display: inline-block; min-width: 40px; line-height: 40px; border-radius: 20px; }
form .ph_inline_submit i { vertical-align: middle; }

form input[type='submit'] { display: none; }
form input[type='submit'].visible { display: block; }

form label { cursor: pointer; display: block; color: inherit; font-size: 14px; font-weight: 300; margin-top: 20px; padding: 5px 0; line-height: 25px; }
form label.inline { display: inline-block; vertical-align: top; }
form label > a{ font-weight: normal; color: inherit; border-bottom: 1px solid #fff; }

form input[type='checkbox'] { cursor: pointer; overflow: hidden; border: 0; position: relative; vertical-align: middle; display: inline-block; margin: 0 5px 0 0; border-radius: 20%; background-color: rgba(0,0,0,0.15); width: 24px; height: 24px; appearance: none; -moz-appearance: none; -webkit-appearance: none; -ms-appearance: none; }
form input[type='checkbox']:after { transition: clip 0.25s ease-in; overflow: hidden; clip: rect(0px 0px 24px 0px); content: ''; background-image: url(/img/grafiken/check.png); background-repeat: no-repeat; background-position: center; background-size: 90%; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
form input[type='checkbox']:checked:after { transition: clip 0.25s ease-out; clip: rect(0px 24px 24px 0px); }

/*-- Material Icons --*/
.material-icons { vertical-align: text-bottom; font-size: 24px; }
.ph_big_icon { opacity: 0.25; font-size: 30vh; display: block; text-align: center; }

/*-- CLASS STYLE --*/
section { overflow: hidden; position: relative; display: block; padding: 0; margin: 0; width: 100%; }

section.fullscreen { height: 100%; }
section.halfscreen { height: 50%; }
section.min-fullscreen { min-height: 100%; }
section.min-halfscreen { min-height: 50%; }
section:first-of-type.min-fullscreen { min-height: calc(100% - 80px); top: 80px; }
section:first-of-type.fullscreen { height: calc(100% - 80px); top: 80px; }

section.ph_separator { text-align: center; overflow: visible; white-space: nowrap;}
section.min-fullscreen.transparent-menu { min-height: 100%; top: 0; padding-top: 80px;}

.ph_loading .ph_separator .ph_separator_half:nth-child(2n-1) { transform: translateX(-40px);}
.ph_loading .ph_separator .ph_separator_half:nth-child(2n) { transform: translateX(40px);}
.ph_separator_half { text-align: left; white-space: normal; max-width: 540px; vertical-align: top; display: inline-block; width: 50%; height: 100%; }
.ph_separator_half > .ph_text { top: 50%; transform: translateY(-50%); max-width: 540px;}

.ph_vertical_center { position: relative; display: block; top: 50%; transform: translateY(-50%); }

.ph_text { position: relative; width: 100%; padding: 80px 20px; max-width: 1080px; margin: 0 auto; }
.ph_text.center { text-align: center; }
.ph_loading .ph_text { opacity: 0; }
.ph_text img { width: 100%; height: auto;}
.ph_text img.h1 { display: block; width: auto;  height: 70px; margin: 20px 0; left: 0; }
.ph_text p { line-height: 30px; letter-spacing: 1px; font-size: 16px;}
.ph_text p.justify { text-align: justify; }
.ph_text strong { font-weight: bold; }

.ph_text_reference { display: block; position: relative; font-size: 14px; color: rgb(150,150,150); }
.ph_text_reference > a { font-weight: normal; color: inherit; border-bottom: 1px solid rgb(150,150,150); }

.ph_background_text { display: inline-block; color: rgb(255,210,0); bottom: 0; right: 0; line-height: 60vh; font-size: 80vh; font-weight: bold; position: absolute; opacity: 0.15; }

.ph_bg_image, .ph_login_bg { z-index: -1; position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; background-position: bottom; background-size: cover; }
.ph_login_bg:after { display: block; content: ''; position: absolute; width: 100%; height: 100%; background-color: #000; opacity: 0.15;}
.ph_loading .ph_bg_image, .ph_loading .ph_login_bg { opacity: 0; color: transparent; transform: scale(1.1,1.1); }
.ph_duotone { display: block; overflow: hidden; }
.ph_duotone:after, .ph_duotone:before { display: none; z-index: +1; content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%;  }
.ph_duotone:after { /*background: linear-gradient(135deg,rgb(0, 128, 187),rgb(0, 160, 60));*/ background-color: rgb(36, 200, 230); mix-blend-mode: darken; }
.ph_duotone:before { background-color: rgb(0,0,0); mix-blend-mode: lighten; }

.ph_login_center { z-index: 60; position: fixed; top: 50%; transform: translateY(-50%); transform-origin: top left; right: 8%; }
.ph_loading .ph_login_center { right: 4%; opacity: 0; }
.ph_login_center:after { z-index: -1; content: ''; height: 100vh; width: 100%; top: 50%; left: 50%; transform: translate(-50%,-50%) skewX(-10deg); position: absolute; }
.ph_login_inner { position: relative; padding: 60px 80px 60px 80px; width: 520px; }
.ph_login_inner h2, .ph_login_inner a, .ph_login_inner p { color: rgb(0,0,0);}

.ph_login_inner form { color: rgb(0,0,0); }
.ph_login_inner form input { color: rgb(0,0,0) !important; background-color: rgba(0,0,0,0.1); }
.ph_login_inner form input[type='checkbox']:after { background-image: url(/img/grafiken/check_dark.png); }
.ph_login_inner form .ph_fi_submit { color: rgb(255,210,0); background-color: rgb(25,25,25); }

/*-- FORM - ERRORS --*/
.ph_form_error, .ph_form_info { opacity: 1; max-height: 900px; display: block; position: relative; margin: 10px 0 0 0; padding: 5px 0 0 30px; }
.ph_form_error:empty, .ph_form_info:empty { opacity: 0;max-height: 0; margin: 0; padding-top: 0; }
.ph_form_error:before, .ph_form_info:before { transition-delay: 250ms; content: ''; opacity: 1; display: block; position: absolute; height: 18px; width: 18px; top: 5px; line-height: 18px; left: 0; background-color: #fff; }
.ph_form_error:empty:before, .ph_form_info:empty:before { transform: scale(0,0); opacity: 0;}
.ph_form_error:before { clip-path: polygon(10% 90%, 100% 90%, 50% 10%); background-color: rgb(236, 43, 43); } 
.ph_form_info:before { clip-path: circle(50% at 50% 50%); background-color: rgb(0, 89, 255); }

.ph_login_meta { position: absolute; left: 0; bottom: 0; display: inline-block; padding: 10px 20px; }
.ph_loading .ph_login_meta { transform: translateY(100%); opacity: 0;}
.ph_login_meta a { color: #fff; border-bottom: 2px solid transparent; font-weight: normal; font-size: 16px; margin-right: 15px; }
.ph_login_meta a:hover { border-bottom: 2px solid #fff; }

.ph_progress_dots { padding-left: 5px; margin-bottom: 20px; display: flex; flex-wrap: nowrap; justify-content: space-between; width: 100%; max-width: 150px; position: relative; height: 10px; }
.ph_progress_dots > span { display: block; height: 10px; width: 10px; border-radius: 50%; background-color: rgb(100,100,100); }
.ph_progress_dots > span.active { transform: scale(1.5,1.5); }

.ph_button { font-style: italic; font-weight: bold; cursor: pointer; display: inline-block; padding: 4px 0 4px 0; margin: 10px 20px 0 0; position: relative; color: #fff; text-transform: uppercase; }
.ph_button.main { color: rgb(255,210,0); }
.ph_button:after { z-index: -1; content: ''; display: block; position: absolute; bottom: 0; left: 0;  width: 0; height: 3px; background-color: rgb(255,210,0); }
.ph_button:hover:after { width: 100%; }
.ph_button:hover { color: rgb(255,210,0); }

/*-- PROFILE --*/
.ph_profile_bg { position: absolute; left: 0; top: 0; height: 100%; width: 100%; overflow: hidden; }
.ph_profile_bg > div { background-size: cover; background-position: center; filter: blur(10px); width: calc(100% + 20px); height: calc(100% + 20px); position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.ph_profile_bg_overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.5;}
.ph_profile_bg_easing { position: absolute; bottom: 0; left: 0; width: 100%; height: 140px; background: linear-gradient(0deg,rgba(20,20,20,1),rgba(20,20,20,0.8),rgba(20,20,20,0.4),rgba(20,20,20,0)); }

.ph_profileh_content { margin: 140px 0 120px 0; z-index: +10; position: relative; left: 50%; display: inline-block; padding: 20px 240px 20px 20px; width: 100%; max-width: 1080px; transform: translate(-50%,0); }
.ph_profileh_content h1 { color: #fff; font-family: 'Oxygen'; }
.ph_profileh_content .pb { position: absolute; right: 20px; border-radius: 50%; top: 20px; height: 200px; width: 200px; }

.ph_profileh_content > .main { position: relative; display: block; width: 100%;}
.ph_profileh_content > .main > h1 { height: auto; overflow-x: hidden; overflow-y: hidden; text-overflow: ''; white-space: nowrap; font-size: 100px; line-height: 125px; margin: 0; }
.ph_profileh_content > .main > .meta { display: block; }
.ph_profileh_content > .main > .meta > span, .ph_profileh_content > .main > .meta > a  { color: #fff; font-weight: normal; font-size: 12px; display: inline-block; margin: 0 10px 0 0; }
.ph_profileh_content > .main > .meta > span > strong, .ph_profileh_content > .main > .meta > a > strong { font-size: 18px; color: rgb(255,210,0); font-weight: bold; display: inline-block; margin: 0 4px 0 0; }
.ph_profileh_content > .description .ph_profile_website { display: block; padding: 5px 0;}

.ph_profileh_content > .ph_profile_submenu { cursor: pointer; margin-top: 65px; position: relative; display: flex; flex-wrap: nowrap; justify-content: space-between; align-content: stretch; width: calc(100% + 220px); }
.ph_profileh_content > .ph_profile_submenu > span { top: 0; display: block; width: calc(100% / 3 - (40px / 3)); position: relative;}

.ph_afterphead { overflow: visible; }
.ph_afterphead > .ph_text { margin-top: -200px; }

.ph_button_v2 { color: #fff; overflow: hidden; line-height: 24px; border-radius: 4px; text-align: center; display: block; position: relative; padding: 10px 20px; line-height: 24px; background-color: rgba(255,255,255,0.1); }
.ph_button_v2:hover { background-color: rgba(255,255,255,0.15); }
.ph_button_v2 .txt { color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; }
.ph_button_v2 i { line-height: 20px; margin: 0 2px; }
.ph_button_v2.i { padding-right: 34px; }
.ph_button_v2.i > .icon { position: absolute; right: 10px; top: 10px; height: 24px; width: 24px; border-radius: 2px; background-size: cover; display: block; }

.ph_button_v2.multi { display: flex; padding: 0; justify-content: space-between; background-color: transparent; }
.ph_button_v2.multi:hover { background-color: transparent; }
.ph_button_v2.multi > .sect { color: #fff; border-radius: 4px; display: block; position: relative; padding: 10px 10px; background-color: rgba(255,255,255,0.1); }
.ph_button_v2.multi > .sect:hover { background-color: rgba(255,255,255,0.15); }

.ph_button_v2.multi.triple > .sect { width: calc(100% / 3 - (20px / 3)); }
.ph_button_v2.multi.double > .sect { width: calc(50% - 5px); }

.ph_fs_button { border-radius: 4px; width: 100%; background-color: rgb(255,210,0); height: 44px; font-weight: bold; color: #0a0a0a;display: block; position: relative; padding: 10px 20px;}
.ph_fs_button > span { text-align: center; line-height: 24px; font-weight: bold; opacity: 0; transform: scale(0,0); display: block; width: calc(100% - 40px); position: absolute; left: 20px; top: 10px; }
.ph_fs_button > span i { line-height: 20px;}
.ph_fs_button .txt { color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; }
.ph_fs_button[data-rel='0'] .follow { opacity: 1; transform: scale(1,1);}
.ph_fs_button[data-rel='1'] .requested { opacity: 1; transform: scale(1,1);}
.ph_fs_button[data-rel='2'] .following { opacity: 1; transform: scale(1,1);}
.ph_fs_button[data-rel='9'] .edit { opacity: 1; transform: scale(1,1);}

.ph_profileh_content > .description { display: block; line-height: 25px; letter-spacing: 1px; margin: 20px 0 0 0; }

.ph_profile_list { position: relative; display: block; }
.ph_profile_list.duo { column-count: 2; }
/* by https://stackoverflow.com/questions/7785374/how-to-prevent-column-break-within-an-element*/
.ph_profile_banner_small { overflow: hidden; break-inside: avoid-column; -webkit-column-break-inside: avoid; position: relative; display: block; height: 70px; margin: 0 0 10px 0; padding: 10px 10px 10px 90px; border-radius: 4px; background-color: rgba(0,0,0,0.25); }
.ph_profile_banner_small > .pb { position: absolute; left: 20px; top: 10px; width: 50px; height: 50px; border-radius: 50%; background-size: cover; background-position: center;}
.ph_profile_banner_small > .name { display: block; font-size: 20px; line-height: 24px; font-weight: bold; }
.ph_profile_banner_small > .description { display: block; font-size: 14px; line-height: 26px; color: #fff; font-weight: normal; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;  }

/*-- POSTS --*/
.ph_post { min-height: 70px; margin: 0 0 32px 0; position: relative; display: block; }
.ph_post > .ph_post_media { position: relative; display: block; overflow: hidden;}
.ph_post > .ph_post_info { position: relative; display: block; padding: 10px 120px 10px 70px; }
.ph_post > .ph_post_info > .profile { position: absolute; display: block; left: 10px; top: 0; width: 60px; padding: 10px 10px 0 0; }
.ph_post > .ph_post_info > .profile > .pb { position: relative; display: block; width: 50px; height: 50px; background-position: center; background-size: cover; border-radius: 50%; }
.ph_post > .ph_post_info > .description { text-align: left; font-weight: bold; overflow-wrap: break-word; overflow: hidden; width: 100%; word-wrap: break-word; letter-spacing: 1px; font-size: 20px; color: #fff; position: relative; display: block; }
.ph_post > .ph_post_info > .meta { color: rgb(180,180,180); font-size: 14px; display: block; margin: 2px 0 0 0;}
.ph_post > .ph_post_info > .meta a { color: inherit; font-size: inherit; font-weight: normal; }
.ph_post > .ph_post_info > .voting { top: 50%; right: 10px; transform: translateY(-50%); position: absolute; display: inline-block;   }
.ph_post > .ph_post_info > .voting > .actions { cursor: pointer; font-weight: 700; font-size: 24px; color: rgb(10,10,10); line-height: 20px; text-align: center; display: inline-block; position: relative; background-color: rgb(60,60,60); border-radius: 50%; height: 26px; width: 26px; }
.ph_post > .ph_post_info > .voting > .actions:hover { background-color: rgb(200,200,200); }
.ph_post > .ph_post_info > .voting[data-vote='1'] > .up { background-color: rgb(255,210,0); }
.ph_post > .ph_post_info > .voting[data-vote='-1'] > .down { background-color: rgb(255,210,0); }
.ph_post > .ph_post_info > .voting > span { min-width: 42px; text-align: center; font-weight: 700; font-size: 18px; color: #fff; line-height: 15px; display: inline-block; position: relative;padding: 0 5px; }

.ph_post > .ph_post_info > textarea.description { resize: vertical; border: none; max-height: 400px; min-height: 200px; background-color: transparent; color: #fff; width: 100%; display: inline-block;  }

/* BANNER */
.ph_post_list { display: block; width: 100%; }
.ph_post_list > .container { display: block; position: relative; column-count: 3; column-gap: 20px; }
.ph_post_list a.ph_post_banner { text-align: left; line-height: 30px; overflow-wrap: break-word; overflow: hidden; width: 100%; word-wrap: break-word; font-size: 20px; min-height: 66px; max-height: 500px; padding: 20px 40px; color: #fff; vertical-align: top; overflow: hidden; cursor: pointer; border-radius: 4px; position: relative; display: inline-block; margin: 0 0 20px 0; width: 100%; background-color: rgba(0,0,0,0.25); }
.ph_post_list a.ph_post_banner .meta { position: relative; display: block; line-height: 12px; font-size: 11px; color: rgb(180,180,180); }

/*#######################################
    Media Queries
########################################*/

/*----SMALL WINDOWS----*/
@media only screen and (max-width: 980px){

}

/*----SMARTPHONES----*/
@media only screen and (max-width: 760px){
    h1 { font-size: 70px; line-height: 75px; margin: 10px 0; }
    h2 { font-size: 50px; line-height: 55px; }
    h3 { font-size: 20px; line-height: 30px; margin: 10px 0; }
    h4 { font-size: 15px; line-height: 20px; margin: 10px 0; }

    .login-menu .ph_logo_wrapper { left: 50%; transform: translateX(-50%); }
    .login-menu .ph_logo_wrapper:after { display: none; }
    .ph_login_center { width: 100%; right: 0; }
    .ph_login_center:after { display: block; height: 100%; width: 100vw; transform: translate(-50%,-50%) skewY(-5deg); }
    .ph_login_inner { padding: 40px 30px 60px 30px; width: 100%; }
    .ph_login_inner h2 { margin: 0 0 5px 0; }
    .ph_login_meta { display: block; width: 100%; text-align: center;}
    .ph_login_meta a { font-size: 14px; text-shadow: none; display: inline-block; }

    h1,h2,h3 { margin: 10px 0 5px 0; }

    form textarea, form input[type='file'], form input[type='text'], form input[type='email'], form input[type='password'], form input[type='submit'] { margin-top: 10px; padding: 12px 18px 12px 20px; }
    form label { margin-top: 10px; }

    .mobile_header { display: block; }
    .mobile_header.login-menu { background-color: transparent; border: 0; }
    header { padding: 5px 20px; bottom: 0; top: unset; background-color: rgb(20,20,20); border-top: 1px solid rgb(35,35,35); height: 50px; }
    header.login-menu { display: none; }
    header .ph_logo_wrapper { display: none; }
    header .ph_menur { position: relative; flex-direction: row; justify-content: space-between; width: 100%; height: 100%; display: flex; }
    header .ph_menu_point { box-shadow: none; height: 40px; width: 40px; background-color: transparent; color: rgb(100,100,100); border-radius: 0; margin: 0; }
    header .ph_menu_point.mprofile { border-radius: 50%; }
    header .ph_menu_point:hover { color: rgb(255,210,0); }
    header .ph_menu_point i { font-size: 26px; }

    section:first-of-type.min-fullscreen { min-height: calc(100% - 50px); top: 50px; }
    section:first-of-type.min-fullscreen.transparent-menu { min-height: 100%; top: 0; }
    section:last-of-type.min-fullscreen { padding-bottom: 50px; }
    section:last-of-type.min-halfscreen { padding-bottom: 50px; }
    section:first-of-type.fullscreen { height: calc(100% - 50px); top: 50px; }

    .ph_text { padding: 20px 20px; }
    .ph_text_feed { padding: 10px 0;}

    .ph_post > .ph_post_info { min-height: 100px; padding-right: 60px; }
    .ph_post > .ph_post_info > .description { font-size: 18px; line-height: 22px;  }
    .ph_post > .ph_post_info > .voting { top: 10px; right: 10px; width: 46px; transform: translate(0); padding: 34px 0;}
    .ph_post > .ph_post_info > .voting > .up { position: absolute; top: 0; left: 10px;  }
    .ph_post > .ph_post_info > .voting > .down { position: absolute; bottom: 0; left: 10px;  }
    .ph_post > .ph_post_info > .voting > span { text-align: center; display: block; }

    .ph_profileh_content .pb { position: absolute; width: 60px; height: 60px; right: 20px; top: 50px; }
    .ph_profileh_content { margin: 50px 0 0 0; left: 0; padding: 20px 80px 20px 20px; transform: translate(0,0); }

    .ph_profileh_content > .main > h1 { margin: 10px 0; font-size: 45px; line-height: 60px; }
    .ph_profileh_content > .main > .meta > span, .ph_profileh_content > .main > .meta > a  { font-size: 10px; margin: 0 2px 0 0; }
    .ph_profileh_content > .main > .meta > span > strong, .ph_profileh_content > .main > .meta > a > strong { font-size: 12px; margin: 0 2px 0 0; }

    .ph_profileh_content > .description { font-size: 14px; }

    .ph_profileh_content > .ph_profile_submenu { margin-top: 30px; width: calc(100% + 60px); }
    .ph_profileh_content > .ph_profile_submenu > span { width: calc(100% / 3 - (20px / 3)); }
    .ph_profileh_content .ph_fs_button .txt { display: none; }

    .ph_afterphead > .ph_text { margin-top: -30px; }

    .ph_button_v2 .txt { display: none; }
    .ph_button_v2 { padding: 5px 10px; }
    .ph_button_v2.multi > .sect { padding: 5px 10px; }
    .ph_button_v2.i { padding-right: 10px; }
    .ph_button_v2.i > .icon { position: relative; right: unset; top: unset; height: auto; width: auto; border-radius: auto; }

    .ph_fs_button { height: 34px; padding: 5px 10px; }
    .ph_fs_button span { top: 5px; }

    .ph_post_list > .container { column-count: 1; }
    .ph_post_list a.ph_post_banner { line-height: 30px; font-size: 18px; min-height: 66px; max-height: 250px; padding: 10px 20px; margin: 0 0 10px 0; }
    .ph_post_list a.ph_post_banner .meta { position: relative; display: block; line-height: 12px; font-size: 11px; color: rgb(180,180,180); }


}

/* by https://stackoverflow.com/questions/32613896/how-to-hack-unsupported-mix-blend-mode-css-property */
@supports not (mix-blend-mode: multiply) {
    .ph_duotone:after, .ph_duotone:before { display: none; }
}