* { background-repeat: no-repeat; font-weight: normal; padding: 0; margin: 0; font-family: 'Oxygen', sans-serif; -webkit-apperance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body { color: #fff; height: 100%; width: 100%; opacity: 1; overflow-x: hidden; }
HTML { height: 100%; width: 100%; background-color: rgb(30,30,30); }

/*--- MAIN COLOR ---*/

.ph_button:hover:after, .ph_head_deposited:after , .ph_progress_dots > span.active, header>.ph_profile:after, header>.ph_logo_wrapper:after, header > nav > a:after, .ph_login_center:after {
    background-color: rgb(0, 150, 50);
}

form input[type='submit']:hover {
    color: rgb(0, 150, 50) !important;
}

header > nav > a:hover, a, h1,h2,h3,h4,h5,h6, form input[type='submit']:hover {
    color: rgb(0, 150, 50);
}

.ph_button:hover:after {
    border-color: rgb(0, 150, 50);
}

/*-- REUSE -- */

.ph_head_deposited:after, header > .ph_logo_wrapper:after, .ph_login_center:after {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.ph_login_meta a {
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.ph_button:after {
    transform: skewX(-10deg);
}

/*-- TRANSITIONS --*/

.ph_button:after, .ph_button, form input, form input[type='checkbox']:after, header > nav > a:after {
    transition: all 250ms ease-in-out;
}

header > .ph_profile, .ph_logo_wrapper, .ph_text, .ph_bg_image, .ph_login_bg, .ph_separator_half, .ph_login_meta, .ph_login_center, section, header > nav {
    transition: all 300ms ease-in-out;
}

/*-- ELEMENT STYLE --*/

::selection{ background-color: rgb(0, 150, 50); color: #fff; }
::-moz-selection{ background-color: rgb(0, 150, 50); color: #fff; }

h1,h2,h3,h4,h5,h6{ font-weight: bold; text-decoration: none; margin: 10px 0; text-align: inherit; }
h1 { font-size: 70px; line-height: 70px; }
h2 { font-size: 50px; line-height: 55px; }
h3 { font-size: 30px; line-height: 40px; }
h4 { font-size: 25px; line-height: 35px; color: #fff;}

.ph_head_deposited { padding: 10px 100px; margin-left: 15px; color: #fff; display: inline-block; position: relative; font-size: 150px; line-height: 160px;}
.ph_head_deposited:after { content: ''; transform: skewX(-10deg); z-index: -1; position: absolute; left: 0; top: 0; height: 100%; width: 100%; }

a{ text-decoration: none; font-weight: bold; transition: all 0.2s; -webkit-transition: all 0.2s; -o-transition: all 0.2s; -moz-transition: all 0.2s; }
p { color: rgb(80,80,80); font-weight: 300; }

header { z-index: 50; white-space: nowrap; position: fixed; top: 0; left: 0; height: 60px; width: 100%; background-color: #1e1e1e; padding: 0 25px; }
header:after { position: absolute; content: ''; top: 100%; left: 0; height: 20px; width: 100%; background: linear-gradient(0deg,rgba(30,30,30,0),rgba(30,30,30,0.4),rgba(30,30,30,0.9),rgba(30,30,30,1)); }
header > nav { z-index: -1; vertical-align: top; position: relative; display: inline-block; height: 100%; width: auto; max-width: 100%; }
.ph_loading header > nav { transform: translateX(-50%); opacity: 0; }
header > nav > a, header > .ph_logo_wrapper, header > .ph_profile { color: #fff; position: relative; display: inline-block; height: 100%; white-space: nowrap; line-height: 60px; font-weight: bold; padding: 0 20px;  }
header > nav > a { padding: 0 30px 0 40px; }
header > nav > a:after { z-index: -1; position: absolute; content: ''; bottom: 0; left: 0; transform-origin: bottom; transform: translate(10px,-100%) skewX(-10deg); width: 100%; height: 100%; }
header > nav > a:hover { color: #fff; }
header > nav > a:hover:after { transform: translate(0,0) skewX(-10deg);  }

header > .ph_logo_wrapper, header > .ph_profile { top: 0; z-index: +5; height: 110%; line-height: 66px; font-size: 18px; font-style: italic; padding-left: 72px; padding-right: 30px; color: #fff;}
header > .ph_logo_wrapper:after, header > .ph_profile:after { z-index: -1; content: ''; position: absolute; width: 100%; height: 100%; top: 0; left: 0; transform: skewX(-10deg);}
header > .ph_logo_wrapper img, header > .ph_profile > .ph_profile_pb { position: absolute; display: block; height: 32px; width: 32px; left: 30px; top: 17px;  }

header > .ph_profile { position: absolute; right: 25px; padding-left: 30px; padding-right: 72px; }
.ph_loading header > .ph_profile { transform: translate(10px,-100%); } 
header > .ph_profile > span { font-weight: bold; }
header > .ph_profile > .ph_profile_pb { border-radius: 50%; left: auto; right: 20px; background-color: rgb(30,30,30); }
header > .ph_profile.sign_in > .ph_profile_pb { background-color: rgba(0,0,0,0.1); text-align: center; line-height: 24px; font-size: 30px; }
header > .ph_profile.sign_in > .ph_profile_pb > i { font-size: 30px; }

header.transparent-menu { background-color: transparent; }
header.transparent-menu:after { display: none; }

/*.ph_loading header > .ph_logo_wrapper img { animation: logo_loader 1s ease-in-out infinite;}

@keyframes logo_loader {
    0% { transform: rotateZ(0deg); }
    40% { transform: rotateZ(1440deg); }
    100% { transform: rotateZ(1440deg); }
}*/


form { display: block; position: relative;}
input::-webkit-input-placeholder { color: inherit; }
form input[type='text'], form input[type='email'], form input[type='password'], form input[type='submit'] { outline: none; color: #fff; margin: 10px 0 0 -10px; background-color: transparent; font-size: 16px; line-height: 25px; width: calc(100% + 20px); padding: 10px 10px; outline: 0; border: none; border-bottom: 2px solid rgba(255,255,255,0.5); border-radius: 0; -webkit-apperance: none; display: block; position: relative;}
form input[type='text']:focus, form input[type='email']:focus, form input[type='password']:focus, form input[type='submit']:focus { color: #fff; border-bottom: 2px solid #fff !important; }
form input:invalid { box-shadow: none; outline: 0; }
form input[type='text']:not(:placeholder-shown), form input[type='email']:not(:placeholder-shown), form input[type='password']:not(:placeholder-shown), form input[type='submit']:not(:placeholder-shown) { color: #fff; border-color: #fff; }
form input[type='text']:not(:placeholder-shown):invalid, form input[type='email']:not(:placeholder-shown):invalid, form input[type='password']:not(:placeholder-shown):invalid, form input[type='submit']:not(:placeholder-shown):invalid { outline: 0; border: none; border-bottom: 2px solid rgb(255,0,0); }

form input[type='submit'] { cursor: pointer; margin: 20px 0; width: auto; display: inline-block; border-radius: 25px; padding: 5px 20px; border: 2px solid; border-color: #fff; }
form input[type='submit']:hover{ background-color: #fff;}

form label { cursor: pointer; display: block; color: #fff; font-size: 14px; font-weight: 300; margin-top: 20px; padding: 5px 0; line-height: 25px; }
form label.inline { display: inline-block; vertical-align: top; }
form label > a{ font-weight: normal; color: inherit; border-bottom: 1px solid #fff; }

form input[type='checkbox'] { cursor: pointer; overflow: hidden; border: 0; position: relative; vertical-align: middle; display: inline-block; margin: 0 5px 0 0; border-radius: 20%; background-color: rgba(0,0,0,0.15); width: 24px; height: 24px; appearance: none; -moz-appearance: none; -webkit-appearance: none; -ms-appearance: none; }
form input[type='checkbox']:after { transition: clip 0.25s ease-in; overflow: hidden; clip: rect(0px 0px 24px 0px); content: ''; background-image: url(/img/grafiken/check.png); background-repeat: no-repeat; background-position: center; background-size: 90%; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
form input[type='checkbox']:checked:after { transition: clip 0.25s ease-out; clip: rect(0px 24px 24px 0px); }

/*-- Material Icons --*/
.material-icons { vertical-align: text-bottom; font-size: 24px; }
.ph_big_icon { opacity: 0.25; font-size: 30vh; display: block; text-align: center; }

/*-- CLASS STYLE --*/
section { overflow: hidden; position: relative; display: block; padding: 0; margin: 0; width: 100%; }

section.fullscreen { height: 100%; }
section.min-fullscreen { min-height: 100%; }
section:first-of-type.min-fullscreen { min-height: calc(100% - 60px); top: 60px; }

section.ph_separator { overflow: visible; white-space: nowrap;}
section.min-fullscreen.transparent-menu { min-height: 100%; top: 0; }

.ph_loading .ph_separator .ph_separator_half:nth-child(2n-1) { transform: translateX(-40px);}
.ph_loading .ph_separator .ph_separator_half:nth-child(2n) { transform: translateX(40px);}
.ph_separator_half { white-space: normal; vertical-align: top; display: inline-block; width: 50%; height: 100%; }
.ph_separator_half > .ph_text { top: 50%; transform: translateY(-50%); max-width: 540px;}

.ph_vertical_center { position: relative; display: block; top: 50%; transform: translateY(-50%); }

.ph_text { position: relative; width: 100%; padding: 80px 20px; max-width: 1080px; margin: 0 auto; }
.ph_text.center { text-align: center; }
.ph_loading .ph_text { opacity: 0; }
.ph_text img { width: 100%; height: auto;}

.ph_text_reference { display: block; position: relative; font-size: 14px; color: rgb(150,150,150); }
.ph_text_reference > a { font-weight: normal; color: inherit; border-bottom: 1px solid rgb(150,150,150); }

.ph_bg_image, .ph_login_bg { z-index: -1; position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; background-position: bottom; background-size: cover; }
.ph_loading .ph_bg_image, .ph_loading .ph_login_bg { opacity: 0; color: transparent; transform: scale(1.1,1.1); }
.ph_duotone { display: block; overflow: hidden; }
.ph_duotone:after, .ph_duotone:before { display: none; z-index: +1; content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%;  }
.ph_duotone:after { /*background: linear-gradient(135deg,rgb(0, 128, 187),rgb(0, 160, 60));*/ background-color: rgb(36, 200, 230); mix-blend-mode: darken; }
.ph_duotone:before { background-color: rgb(0,0,0); mix-blend-mode: lighten; }

.ph_login_center { z-index: 100; position: fixed; top: 50%; transform: translateY(-50%); transform-origin: top left; right: 8%; }
.ph_loading .ph_login_center { right: 4%; opacity: 0; }
.ph_login_center:after { z-index: -1; content: ''; height: 100vh; width: 100%; top: 50%; left: 50%; transform: translate(-50%,-50%) skewX(-10deg); position: absolute; }
.ph_login_inner { position: relative; padding: 60px 80px 60px 80px; width: 520px; }
.ph_login_inner h2, .ph_login_inner a { font-weight: bold; color: #fff;}

.ph_login_error, .ph_login_info { display: block; position: relative; margin: 15px 0 0 0; padding: 0 0 0 30px; color: #fff; }
.ph_login_error > i, .ph_login_info > i { background: radial-gradient(#fff,#fff,transparent,transparent); border-radius: 50%; position: absolute; top: -2px; left: 0; }
.ph_login_error > i { color: rgb(236, 43, 43); } 
.ph_login_info > i { color: rgb(0, 89, 255); }

.ph_login_meta { position: absolute; left: 0; bottom: 0; display: inline-block; padding: 10px 20px; }
.ph_loading .ph_login_meta { transform: translateY(100%); opacity: 0;}
.ph_login_meta a { color: #fff; border-bottom: 2px solid transparent; font-weight: normal; font-size: 16px; margin-right: 15px; }
.ph_login_meta a:hover { border-bottom: 2px solid #fff; }

.ph_progress_dots { padding-left: 5px; margin-bottom: 20px; display: flex; flex-wrap: nowrap; justify-content: space-between; width: 100%; max-width: 150px; position: relative; height: 10px; }
.ph_progress_dots > span { display: block; height: 10px; width: 10px; border-radius: 50%; background-color: rgb(100,100,100); }
.ph_progress_dots > span.active { transform: scale(1.5,1.5); }

.ph_button { font-style: italic; cursor: pointer; display: inline-block; padding: 12px 30px 8px 30px; margin: 20px 20px 20px 10px; position: relative; color: #fff; text-transform: uppercase; }
.ph_button:after { z-index: -1; content: ''; display: block; position: absolute; top: 0; left: 0;  width: 100%; height: 100%; border: 2px solid #fff; }

/*#######################################
    Media Queries
########################################*/

/*----SMALL WINDOWS----*/
@media only screen and (max-width: 980px){

}

/*----TABLETS----*/
@media only screen and (max-width: 760px){

}

/*----SMARTPHONES----*/
@media only screen and (max-width: 500px){
    .login-menu .ph_logo_wrapper { left: 50%; transform: translateX(-50%); }
    .login-menu .ph_logo_wrapper:after { display: none; }
    .ph_login_center { width: 100%; right: 0;}
    .ph_login_center:after { display: none; height: 100%; width: 100vw; transform: translate(-50%,-50%) skewY(-10deg); }
    .ph_login_inner {padding: 55px 30px 45px 30px; width: 100%; }
    .ph_login_bg:after { content: ''; display: block; position: absolute; top: 0; left: 0; width:100%; height: 100%; background-color: rgb(0,150,50); opacity: 0.95;}
    .ph_login_meta { display: block; width: 100%; text-align: center;}
    .ph_login_meta a { font-size: 14px; text-shadow: none; display: inline-block; }
}

/* by https://stackoverflow.com/questions/32613896/how-to-hack-unsupported-mix-blend-mode-css-property */
@supports not (mix-blend-mode: multiply) {
    .ph_duotone:after, .ph_duotone:before { display: none; }
}