* { background-repeat: no-repeat; font-weight: normal; padding: 0; margin: 0; font-family: 'Oxygen', sans-serif; -webkit-apperance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body { color: #fff; height: 100%; width: 100%; opacity: 1; overflow-x: hidden; }
HTML { height: 100%; width: 100%; background-color: rgb(30,30,30); }

/*--- MAIN COLOR ---*/

header > .ph_logo_wrapper:after, header > nav > a:after, .ph_login_center {
    background-color: rgb(0, 150, 50);
}

form input[type='submit']:hover {
    color: rgb(0, 160, 60) !important;
}

header > nav > a:hover, a, h1,h2,h3,h4,h5,h6, form input[type='submit']:hover {
    color: rgb(0, 160, 60);
}

/*-- REUSE -- */

header > .ph_logo_wrapper:after, .ph_login_center, header {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/*-- TRANSITIONS --*/

.ghost404_char, form input, form input[type='checkbox']:after, header > nav > a:after {
    transition: all 250ms ease-in-out;
}

.ghost404 {
    transition: all 1000ms ease-in-out;
}

/*-- ELEMENT STYLE --*/

::selection{ background-color: rgb(0, 160, 60); color: #fff; }
::-moz-selection{ background-color: rgb(0, 160, 60); color: #fff; }

h1,h2,h3,h4,h5,h6{ font-weight: bold; text-decoration: none; margin: 10px 0; text-align: left; }
h1 { font-size: 70px; line-height: 80px; }
h2 { font-size: 50px; line-height: 60px; }
h3 { font-size: 30px; line-height: 40px; }

a{ text-decoration: none; font-weight: bold; transition: all 0.2s; -webkit-transition: all 0.2s; -o-transition: all 0.2s; -moz-transition: all 0.2s; }
p { color: rgb(80,80,80); font-weight: 300; }

header { z-index: 50; white-space: nowrap; position: fixed; top: 0; left: 0; height: 60px; width: 100%; background-color: rgb(30,30,30); padding: 0 25px; }
header > nav { vertical-align: top; position: relative; display: inline-block; height: 100%; width: auto; max-width: 100%; }
header > nav > a, header > .ph_logo_wrapper { color: #fff; position: relative; display: inline-block; height: 100%; white-space: nowrap; line-height: 60px; font-weight: bold; padding: 0 20px;  }
header > nav > a:after { position: absolute; content: ''; bottom: 0; left: 0; transform-origin: bottom; transform: scaleY(0); width: 100%; height: 4px; }
header > nav > a:hover:after { transform: scaleY(1);  }

header > .ph_logo_wrapper { height: 120%; line-height: 72px; font-size: 18px; font-style: italic; padding-left: 72px; padding-right: 30px; color: #fff;}
header > .ph_logo_wrapper:after { z-index: -1; content: ''; position: absolute; width: 100%; height: 100%; left: 0; transform: skewX(-10deg);}
header > .ph_logo_wrapper img { position: absolute; display: block; height: 32px; left: 30px; top: 20px;  }

form { display: block; position: relative;}
form input[type='text'], form input[type='email'], form input[type='password'], form input[type='submit'] { outline: none; color: #fff; margin: 10px 0 0 -10px; background-color: transparent; font-size: 16px; line-height: 25px; width: calc(100% + 20px); padding: 10px 10px; outline: 0; border: none; border-bottom: 2px solid rgba(255,255,255,0.5); display: block; position: relative;}
form input[type='text']:focus, form input[type='email']:focus, form input[type='password']:focus, form input[type='submit']:focus { color: #fff; border-bottom: 2px solid #fff !important; }
form input:invalid { box-shadow: none; outline: 0; }
form input[type='text']:not(:placeholder-shown), form input[type='email']:not(:placeholder-shown), form input[type='password']:not(:placeholder-shown), form input[type='submit']:not(:placeholder-shown) { color: #fff; border-color: #fff; }
form input[type='text']:not(:placeholder-shown):invalid, form input[type='email']:not(:placeholder-shown):invalid, form input[type='password']:not(:placeholder-shown):invalid, form input[type='submit']:not(:placeholder-shown):invalid { outline: 0; border: none; border-bottom: 2px solid rgb(255,0,0); }

form input[type='submit'] { cursor: pointer; margin: 20px 0; width: auto; display: inline-block; border-radius: 25px; padding: 5px 20px; border: 2px solid; border-color: #fff; }
form input[type='submit']:hover{ background-color: #fff;}

form label { cursor: pointer; color: #fff; font-size: 14px; font-weight: 300;  vertical-align: top; margin-top: 20px; padding: 5px 0; line-height: 25px; }

form input[type='checkbox'] { cursor: pointer; overflow: hidden; border: 0; position: relative; vertical-align: middle; display: inline-block; margin: 0 5px 0 0; border-radius: 20%; background-color: rgba(0,0,0,0.15); width: 24px; height: 24px; appearance: none; -moz-appearance: none; -webkit-appearance: none; -ms-appearance: none; }
form input[type='checkbox']:after { transition: clip 0.25s ease-in; overflow: hidden; clip: rect(0px 0px 24px 0px); content: ''; background-image: url(/img/grafiken/check.png); background-repeat: no-repeat; background-position: center; background-size: 90%; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
form input[type='checkbox']:checked:after { transition: clip 0.25s ease-out; clip: rect(0px 24px 24px 0px); }

/*-- Material Icons --*/
.material-icons { vertical-align: text-bottom; font-size: 24px; }

/*-- CLASS STYLE --*/
section { overflow: hidden; position: relative; display: block; padding: 0; margin: 0; width: 100%; }

section.min-fullscreen { min-height: 100%; }
section:first-of-type.min-fullscreen { min-height: calc(100% - 60px); top: 60px; }

.ph_text { position: relative; width: 100%; padding: 80px 20px; max-width: 1080px; margin: 0 auto; }

.ph_bg_image { z-index: -1; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-position: bottom; background-size: cover; }
.ph_duotone { display: block; overflow: hidden; }
.ph_duotone:after, .ph_duotone:before { display: none; z-index: +1; content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%;  }
.ph_duotone:after { /*background: linear-gradient(135deg,rgb(0, 128, 187),rgb(0, 160, 60));*/ background-color: rgb(36, 200, 230); mix-blend-mode: darken; }
.ph_duotone:before { background-color: rgb(0,0,0); mix-blend-mode: lighten; }

.ph_login_center { z-index: 100; position: fixed; top: 0; transform-origin: top left; transform: skewX(-10deg); height: 100%; right: 2%; }
.ph_login_inner { transform: skewX(10deg) translateY(-50%); position: relative; top: 50%; padding: 60px 50px 60px 110px; width: 100%; width: 520px; }
.ph_login_inner h2, .ph_login_inner a { font-weight: bold; color: #fff;}

.ph_login_error, .ph_login_info { display: block; position: relative; margin: 15px 0 0 0; padding: 0 0 0 30px; color: #fff; }
.ph_login_error > i, .ph_login_info > i { background: radial-gradient(#fff,#fff,transparent,transparent); border-radius: 50%; position: absolute; top: -2px; left: 0; }
.ph_login_error > i { color: rgb(236, 43, 43); } 
.ph_login_info > i { color: rgb(0, 89, 255); }

/* by https://stackoverflow.com/questions/32613896/how-to-hack-unsupported-mix-blend-mode-css-property */
@supports not (mix-blend-mode: multiply) {
    .ph_duotone:after, .ph_duotone:before { display: none; }
}